<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card">
      <div class="card-header">
        <p class="fw-600">Gas Fee</p>
      </div>

      <hr />

      <form class="margin-top">
        <div class="group">
          <label for="amount" class="fw-600">Fee Amount</label>
          <input
            type="text"
            name="amount"
            id="amount"
            class="border-radius-5 w-100"
            placeholder="Enter gas fee amount"
          />
        </div>

        <button
          type="button"
          (click)="toggleConfirmationDialog()"
          class="btn btn-primary btn-pill margin-top w-100 margin-bottom-1"
        >
          Update
        </button>

        <app-confirmation-dialog [(isConfirm)]="isConfirm" />
      </form>
    </div>
  </div>
</section>
