<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card form-card">
      <div class="card-header">
        <p class="fw-600">Password Manager</p>
      </div>

      <hr />

      <form
        class="margin-top"
        [formGroup]="settingsForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="group">
          <label for="old_password" class="fw-600">Old Password</label>
          <div class="input-group-password">
            <input
              [type]="isPassword ? 'password' : 'text'"
              name="old_password"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Old password"
              id="old_password"
              formControlName="old_password"
            />
            @if (isPassword) {
            <fa-icon
              [icon]="['far', 'eye-slash']"
              (click)="togglePassword()"
            ></fa-icon>
            }@else{
            <fa-icon
              [icon]="['far', 'eye']"
              (click)="togglePassword()"
            ></fa-icon>
            }
          </div>
        </div>

        <div class="group margin-top">
          <label for="password" class="fw-600">New Password</label>
          <div class="input-group-password">
            <input
              [type]="isPassword ? 'password' : 'text'"
              name="password"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Password"
              id="password"
              formControlName="password"
              (input)="checkPasswordLength()"
            />
            @if (isPassword) {
            <fa-icon
              [icon]="['far', 'eye-slash']"
              (click)="togglePassword()"
            ></fa-icon>
            }@else{
            <fa-icon
              [icon]="['far', 'eye']"
              (click)="togglePassword()"
            ></fa-icon>
            }
          </div>
        </div>
        <small [ngClass]="!passwordMinLength ? 'color-danger' : 'color-success'"
          >Minimum of 6 characters</small
        >

        <div class="group margin-top">
          <label for="password_confirmation" class="fw-600"
            >Confirm Password</label
          >
          <div class="input-group-password">
            <input
              [type]="isPassword ? 'password' : 'text'"
              name="password_confirmation"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Confirm password"
              id="password_confirmation"
              formControlName="password_confirmation"
            />
            @if (isPassword) {
            <fa-icon
              [icon]="['far', 'eye-slash']"
              (click)="togglePassword()"
            ></fa-icon>
            }@else{
            <fa-icon
              [icon]="['far', 'eye']"
              (click)="togglePassword()"
            ></fa-icon>
            }
          </div>
        </div>

        <button
          type="button"
          [disabled]="settingsForm.invalid"
          (click)="toggleConfirmModal()"
          class="btn btn-primary btn-pill margin-top w-100 margin-bottom-1"
        >
          Update
        </button>

        <app-confirmation-dialog [(isConfirm)]="isConfirm" />
      </form>
    </div>
  </div>
</section>
