<div class="card transaction-div">
  <p class="fw-600">Transactions</p>

  <hr />

  <div class="table-responsive">
    @if (!isFetching && transactionsData?.length) {
    <table datatable class="row-border hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Transaction ID</th>
          <th>User</th>
          <th>Email</th>
          <th>Type</th>
          <th>Name</th>
          <th>Amount - Cryto</th>
          <th>Amount - USD</th>
          <th>Address</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        @for (transaction of transactionsData; track $index) {
        <tr>
          <td class="text-truncate">{{ $index + 1 }}</td>
          <td class="text-truncate">{{ transaction.transaction_id }}</td>
          <td class="text-truncate">{{ transaction.username }}</td>
          <td class="text-truncate">{{ transaction.email }}</td>
          <td class="text-truncate">
            @switch (transaction.type) { @case (0) { Bank Deposit }@case (1) {
            Crypto Deposit }@case (2) {Transfer} @case (4)
            {Swap::Swaped}@default {Gas Fee} }
          </td>
          <td class="text-truncate">{{ transaction.name }}</td>
          <td
            class="text-truncate color-success fw-600"
            [ngClass]="{
              'color-danger': transaction.type === 2 || transaction.type === 5
            }"
          >
            {{
              transaction.type === 2 || transaction.type === 5 ? "-" : "+"
            }}${{ transaction.type_amount }}
          </td>
          <td
            class="text-truncate color-success fw-600"
            [ngClass]="{
              'color-danger': transaction.type === 2 || transaction.type === 5
            }"
          >
            {{
              transaction.type === 2 || transaction.type === 5 ? "-" : "+"
            }}${{ transaction.amount }}
          </td>
          <td class="text-truncate">{{ transaction.address }}</td>
          <td>
            <span
              class="label"
              [ngClass]="{
                'bg-success': transaction.status === 1,
                'bg-warning': transaction.status === 0
              }"
              >{{ transaction.status == 1 ? "Active" : "Inactive" }}</span
            >
          </td>
          <td class="text-truncate">
            {{ transaction.created_at | date : "MMMM d, y h:mm a" }}
          </td>
        </tr>
        }
      </tbody>
    </table>
    }@else {
    <p class="text-center">
      {{ isFetching ? "Loading data..." : "No record found!" }}
    </p>
    }
  </div>
</div>
