<div class="modal" [class.show]="successMessage">
  <div class="overlay" (click)="toggleModal()"></div>
  <div class="modal-content border-radius">
    <div class="modal-header">
      <h3>Action Dialog</h3>
      <fa-icon
        [icon]="['fas', 'circle-xmark']"
        (click)="toggleModal()"
      ></fa-icon>
    </div>
    <div class="modal-body margin-top text-center">
      <fa-icon [icon]="['fas', 'circle-check']" class="color-success"></fa-icon>
      <small class="fw-600 d-block">Success</small>

      <div class="content margin-top">
        <p>
          {{ successMessage }}
        </p>
      </div>

      <div class="actions margin-top flex justify-content-center">
        <button
          (click)="toggleModal()"
          type="button"
          class="btn btn-outline btn-primary btn-pill"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
