<section>
  <div class="container-fluid drop-shadow-2">
    <div
      class="liquidity-bar bg-gradient-1 color-white text-center border-radius padding-1 drop-shadow-y-1"
    >
      <h3>ZP {{ loopData?.zone.name }}</h3>
    </div>
  </div>

  <div class="container-fluid grid grid-2 gap-1 grid-2-desktop margin-top">
    <div class="card drop-shadow-2 form-card">
      <span class="fw-600">New Circulation</span>
      <hr />
      <div class="flex margin-top justify-content-space gap-1">
        <button
          (click)="setDuration(loopData?.zone.duration_1)"
          class="btn btn-outline btn-primary btn-sm"
          [class.active]="percentage === loopData?.zone.roi_1"
        >
          {{ loopData?.zone.duration_1 }} Day(s)
        </button>
        <button
          (click)="setDuration(loopData?.zone.duration_2)"
          class="btn btn-outline btn-primary btn-sm"
          [class.active]="percentage === loopData?.zone.roi_2"
        >
          {{ loopData?.zone.duration_2 }} Day(s)
        </button>
        <button
          (click)="setDuration(loopData?.zone.duration_3)"
          class="btn btn-outline btn-primary btn-sm"
          [class.active]="percentage === loopData?.zone.roi_3"
        >
          {{ loopData?.zone.duration_3 }} Day(s)
        </button>
      </div>

      <form class="margin-top" [formGroup]="loopForm" (ngSubmit)="onSubmit()">
        <div
          class="flex align-items-center justify-content-space gap loop-content"
        >
          <small>Amount</small>
          <small
            [ngClass]="{
              'color-danger':
                loopData?.user.usdt === 0 || loopData?.user.usdt < this.amount
            }"
            >Balance: {{ loopData?.user.balance }} USDT</small
          >
          <button
            type="button"
            class="btn btn-outline btn-primary btn-sm"
            (click)="setMax()"
          >
            Max
          </button>
        </div>
        <div class="input-group">
          <input
            type="number"
            name="amount"
            id="amount"
            min="0"
            step="0.01"
            class="border-radius-5 w-100"
            placeholder="Enter amount"
            formControlName="amount"
            [class.error]="loopForm.invalid"
            (input)="setTotal()"
          />
          <button
            [disabled]="
              loopData?.user.usdt === 0 ||
              loopForm.invalid ||
              amount > loopData?.user.usdt ||
              loopData?.gasFee + amount > loopData?.user.usdt
            "
            type="button"
            (click)="toggleConfirmModal()"
            class="btn btn-primary btn-pill"
          >
            Circulate
          </button>
        </div>
        <small class="color-danger">{{
          loopData?.user.usdt === 0 ? "Insufficient Balance" : ""
        }}</small>
        <div class="summary flex align-items-center justify-content-space">
          <small>Gas Fee: {{ loopData?.gasFee | number : "1.2-2" }} USDT</small>
          <small>{{ duration | number : "1." }} Day(s)</small>
          <small class="fw-600">{{ total | number : "1.2-2" }} USDT</small>
        </div>
        <div class="flex justify-content-start">
          <small
            class="fw-600 color-danger"
            [ngClass]="{
              'color-success':
                amount + loopData?.gasFee <= loopData?.user.usdt && amount > 0
            }"
            >Gas + Amount:
            {{ amount + loopData?.gasFee | number : "1.2-2" }} USDT</small
          >
        </div>

        <app-confirmation-dialog [(isConfirm)]="isConfirm" />
      </form>
    </div>

    <div class="card transaction-div">
      <p class="fw-600">CIRCULATIONS</p>

      <hr />

      <div class="table-responsive">
        @if (!isFetching && loopData?.circulations.length) {
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Duration</th>
              <th>Amount</th>
              <th>Return</th>
              <th>Mode</th>
            </tr>
          </thead>
          <tbody>
            @for (circulation of loopData?.circulations; track $index) {
            <tr>
              <td class="text-truncate">{{ $index + 1 }}</td>
              <td class="text-truncate">{{ circulation.duration }} Days</td>
              <td class="text-truncate">
                {{ circulation.amount | number : "1.2-2" }} USDT
              </td>
              <td class="text-truncate">
                {{ circulation.total | number : "1.2-2" }} USDT
              </td>
              <td class="text-truncate">
                <app-countdown
                  [status]="circulation.status"
                  [duration]="circulation.duration"
                  [itemId]="circulation.id"
                  [creationDate]="circulation.created_at"
                />
              </td>
            </tr>
            }
          </tbody>
        </table>
        }@else {
        <p class="text-center">
          {{ isFetching ? "Loading data..." : "No record found!" }}
        </p>
        }
      </div>
    </div>
  </div>
</section>
