<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card assets-display border-radius">
      <form>
        <input
          type="search"
          name="search"
          class="border-radius-5 w-100"
          id=""
          placeholder="Search Assets ..."
        />
      </form>
      <p class="margin-top fw-600">Available Assets</p>

      <hr />

      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item flex flex-column" (click)="toggleModal()">
            <div class="flex w-100 align-items-center">
              <img src="btc.png" alt="btc logo" class="assets-logo" />
              <div class="margin-left">
                <h3>BTC <span class="label bg-success">Bitcoin</span></h3>
                <span>0xsdjflasejdfohieesdldj</span>
              </div>
            </div>
          </li>
          <li class="nav-item flex flex-column" (click)="toggleModal()">
            <div class="flex w-100 align-items-center">
              <img src="eth.png" alt="btc logo" class="assets-logo" />
              <div class="margin-left">
                <h3>ETH <span class="label bg-success">Ethereum</span></h3>
                <span>0xsdjflasejdfohieesdldj</span>
              </div>
            </div>
          </li>
          <li class="nav-item flex flex-column" (click)="toggleModal()">
            <div class="flex w-100 align-items-center">
              <img src="usdt-eth.png" alt="btc logo" class="assets-logo" />
              <div class="margin-left">
                <h3>USDT <span class="label bg-success">Tether</span></h3>
                <span>0xsdjflasejdfohieesdldj</span>
              </div>
            </div>
          </li>
          <li class="nav-item flex flex-column" (click)="toggleModal()">
            <div class="flex w-100 align-items-center">
              <img src="bnb.png" alt="btc logo" class="assets-logo" />
              <div class="margin-left">
                <h3>BNB <span class="label bg-success">Binance</span></h3>
                <span>0xsdjflasejdfohieesdldj</span>
              </div>
            </div>
          </li>
        </ul>
      </nav>

      <hr />

      <div class="learn-more-div margin-top">
        <a routerLink="#" class="learn-more">Load More</a>

        <fa-icon [icon]="['fas', 'arrow-right']" class="margin-left"></fa-icon>
      </div>
    </div>
  </div>
</section>

<div class="modal" [class.show]="isModal">
  <div class="overlay" (click)="toggleModal()"></div>
  <div class="modal-content border-radius">
    <div class="modal-header">
      <h3>Asset Details</h3>
      <fa-icon
        [icon]="['fas', 'circle-xmark']"
        (click)="toggleModal()"
      ></fa-icon>
    </div>
    <hr />
    <div class="modal-body margin-top text-center">
      <div class="bg-warning padding-2 border-radius text-left">
        <small>
          Only send Tether USD (BEP20) assets to this address. Other assets will
          be lost forever.
        </small>
      </div>

      <div class="flex justify-content-center align-items-center">
        <img src="usdt-eth.png" alt="assets-logo" class="assets-logo" />
        <p class="fw-600 margin-left">Tether USDT (BEP20)</p>
      </div>

      <div class="margin-top flex flex-column align-items-center">
        <img src="usdt-eth.png" alt="assets-logo" class="assets-logo" />
        <small>0xdsldfjoilesjflsd</small>

        <div class="copy">
          <div class="icon border-radius">
            <fa-icon [icon]="['fas', 'copy']"></fa-icon>
          </div>
          <small>Copy</small>
        </div>
      </div>

      <div class="note margin-top color-danger text-left">
        <p>Note</p>
        <p>Please enter the amount you want to deposit</p>
        <p>Only click the pay button after making deposit</p>
      </div>

      <form class="margin-top">
        <div
          class="flex align-items-center justify-content-space gap loop-content"
        >
          <small>Amount</small>
          <small>Balance: 100.00 USDT</small>
          <button class="btn btn-outline btn-primary btn-sm">Max</button>
        </div>

        <div class="input-group">
          <input
            type="amount"
            name="amount"
            id=""
            class="border-radius-5 w-100"
            placeholder="Enter amount"
          />
          <button
            type="button"
            class="btn btn-primary btn-pill"
            (click)="toggleConfirmationDialog()"
          >
            Circulate
          </button>
        </div>

        <div class="summary flex align-items-center justify-content-space">
          <small>Value</small>
          <small class="fw-600">104 USDT</small>
        </div>

        <app-confirmation-dialog [(isOpen)]="isConfirm" />
      </form>
    </div>
  </div>
</div>
