<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card assets-display border-radius">
      <form>
        <input
          type="search"
          name="search"
          class="border-radius-5 w-100"
          id=""
          placeholder="Search Assets ..."
        />
      </form>
      <p class="margin-top fw-600">Available Assets</p>

      <hr />

      <nav class="navbar">
        <ul class="navbar-nav">
          @for (crypto of cryptoData?.crypto; track $index) {
          <li
            class="nav-item flex flex-column"
            (click)="getCryptoDetails(crypto.id)"
          >
            <a class="nav-link">
              <div class="flex w-100">
                <div class="flex align-items-center">
                  <img
                    src="{{ imgUrl + '/' + crypto.image }}"
                    alt="{{ crypto?.name }} logo"
                    class="assets-logo"
                  />
                  <span class="margin-left">{{
                    crypto.name.charAt(0).toUpperCase() +
                      crypto.name.slice(1) +
                      " " +
                      (crypto.abbreviation | uppercase)
                  }}</span>
                </div>
                <div class="ms-auto">
                  <h3>
                    {{ cryptoData.user[crypto.abbreviation] }}
                    {{ crypto.abbreviation | uppercase }}
                  </h3>
                  <span class="text-right"
                    >${{
                      cryptoData[
                        "user" + (crypto.abbreviation | uppercase) + "Value"
                      ]
                    }}</span
                  >
                </div>
              </div>
              <span>${{ crypto.value }}</span>
            </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="modal" [class.show]="isModal">
  <div class="overlay" (click)="toggleModal()"></div>
  <div class="modal-content border-radius">
    <div class="modal-header">
      <h3>Send {{ cryptoDetails?.abbreviation | uppercase }}</h3>
      <fa-icon
        [icon]="['fas', 'circle-xmark']"
        (click)="toggleModal()"
      ></fa-icon>
    </div>
    <hr />
    <div class="modal-body margin-top">
      <form
        class="margin-top"
        [formGroup]="transferForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="group">
          <label for="address" class="fw-600">Address or Domain Name</label>
          <input
            type="text"
            name="address"
            id="address"
            class="border-radius-5 w-100"
            placeholder="Search or paste ..."
            formControlName="address"
          />
        </div>

        <div class="group margin-top">
          <div class="flex align-items-center justify-content-space">
            <label for="type_amount" class="fw-600">Amount</label>
            <small
              class="ms-auto"
              [ngClass]="{
                'color-danger':
                  cryptoData?.user[cryptoDetails?.abbreviation] === 0 ||
                  cryptoData?.user[cryptoDetails?.abbreviation] <
                    this.type_amount
              }"
              >Balance: {{ cryptoData?.user[cryptoDetails?.abbreviation] }}
              {{ cryptoDetails?.abbreviation | uppercase }}</small
            >
          </div>
          <input
            type="number"
            name="type_amount"
            id="type_amount"
            min="0"
            step="0.001"
            (input)="setValue()"
            class="border-radius-5 w-100"
            placeholder="{{ cryptoDetails?.abbreviation | uppercase }} Amount"
            formControlName="type_amount"
          />
        </div>

        <div class="summary flex align-items-center justify-content-space">
          <small>Value</small>
          <small class="fw-600">{{ amount | number : "1.2-2" }} USDT</small>
        </div>

        <button
          [disabled]="
            cryptoData?.user[cryptoDetails?.abbreviation] == 0 ||
            transferForm.invalid ||
            type_amount > cryptoData?.user[cryptoDetails?.abbreviation]
          "
          type="button"
          (click)="toggleConfirmModal()"
          class="btn btn-primary btn-pill margin-top w-100 margin-bottom-1"
        >
          Send
        </button>

        <app-confirmation-dialog [(isConfirm)]="isConfirm" />
      </form>
    </div>
  </div>
</div>
