.nav-link:link,
.nav-link:visited {
  display: flex;
  flex-direction: column;
  gap: 0rem !important;
}

.nav-link {
  padding: 0.6rem 1rem;
}

@media (min-width: 56.2em) {
  .grid-2-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .grid-2-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
