.bg-shape {
  position: relative;
  overflow: hidden;
}

.bg-shape::before {
  position: absolute;
  top: 10%;
  left: -30%;
  content: "";
  width: 30rem;
  height: 30rem;
  border: 2px solid var(--color-primary-1);
  border-radius: 50rem;
  background-color: transparent;
  filter: blur(0.2rem);
  z-index: -1;
}
.bg-shape::after {
  position: absolute;
  bottom: 10%;
  right: -30%;
  content: "";
  width: 30rem;
  height: 30rem;
  border: 2px solid var(--color-primary-1);
  border-radius: 50rem;
  background-color: transparent;
  filter: blur(0.2rem);
  z-index: -1;
}

.form-grid {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-inline: 1rem;
}

.bg-grid {
  display: none;
}

.body {
  margin-top: 2rem;
}

.form-100 {
  width: 100%;
}

@media (min-width: 56.2em) {
  .bg-grid {
    display: flex;
    position: relative;

    background-color: var(--color-primary-1);
    overflow: hidden;
  }

  .bg-grid::before {
    position: absolute;
    top: 50%;
    right: -5%;
    content: "";
    width: 22.2rem;
    height: 16.2rem;
    border-radius: 50%;
    background-color: var(--color-danger);
    filter: blur(8rem);
  }

  .bg-grid::after {
    position: absolute;
    top: 10%;
    right: -10%;
    content: "";
    width: 20rem;
    height: 12.6rem;
    border-radius: 50%;
    background-color: var(--color-primary-2);
    filter: blur(8rem);
  }

  .particle-1 {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .particle-1::before {
    position: absolute;
    top: -10%;
    left: -20%;
    content: "";
    width: 22.8rem;
    height: 22.8rem;
    border-radius: 50%;
    background-color: var(--color-white);
    filter: blur(8rem);
  }

  .particle-1::after {
    position: absolute;
    top: 70%;
    left: -40%;
    content: "";
    width: 32.8rem;
    height: 30.8rem;
    border-radius: 50%;
    background-color: var(--color-warning);
    filter: blur(8rem);
  }

  .form-100 {
    width: auto;
  }

  .container-fluid {
    max-width: 100%;
  }
}
