<section>
  <div class="container-fluid">
    <div class="card transaction-div">
      <p class="fw-600">All Users</p>

      <hr />

      <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
      <div class="table-responsive">
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Fullname</th>
              <th>Email</th>
              <th>Username</th>
              <th>Password</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Victor Marvj</td>
              <td>{{ "victormarvj@gmail.com" }}</td>
              <td>victormarvj</td>
              <td>mmmmmmmmm</td>
              <td>
                <span class="label bg-success">Active</span>
              </td>
              <td>23 May, 2025 4:34 pm</td>
              <td>
                <div class="flex gap-1 align-items-center">
                  <fa-icon
                    [icon]="['far', 'pen-to-square']"
                    class="color-primary"
                  ></fa-icon>
                  <fa-icon
                    [icon]="['far', 'trash-can']"
                    class="color-danger"
                  ></fa-icon>
                </div>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Victor Marvj</td>
              <td>{{ "victormarvj@gmail.com" }}</td>
              <td>victormarvj</td>
              <td>mmmmmmmmm</td>
              <td>
                <span class="label bg-success">Active</span>
              </td>
              <td>23 May, 2025 4:34 pm</td>
              <td>
                <div class="flex gap-1 align-items-center">
                  <fa-icon
                    [icon]="['far', 'pen-to-square']"
                    class="color-primary"
                  ></fa-icon>
                  <fa-icon
                    [icon]="['far', 'trash-can']"
                    class="color-danger"
                  ></fa-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
