<main>
  <section class="grid grid-2">
    <section class="navigation drop-shadow-y-1">
      <div
        class="navigation-overlay"
        [class.hidden]="isNavbarHidden"
        (click)="toggleNav()"
      ></div>
      <header class="header">
        <h1 class="title">{{ titleService.title$ | async }}</h1>
        <!-- <ion-icon name="menu" (click)="toggleNav()" class="menu"></ion-icon> -->

        <div class="group flex align-items-center gap-1">
          <div
            class="toggle-div border-radius-5"
            [class.light]="!isDarkMode"
            [class.dark]="isDarkMode"
            (click)="toggleTheme()"
          >
            @if(isDarkMode) {
            <!-- <ion-icon name="moon-outline" class="border-radius-5"></ion-icon> -->

            <fa-icon [icon]="['fas', 'moon']"></fa-icon>
            }@else {
            <!-- <ion-icon name="sunny-outline" class="border-radius-5"></ion-icon> -->

            <fa-icon [icon]="['fas', 'sun']"></fa-icon>
            }
            <label>{{ isDarkMode ? "Dark" : "Light" }}</label>
          </div>

          <fa-icon
            [icon]="isNavbarHidden ? 'bars' : 'xmark'"
            (click)="toggleNav()"
            class="menu-toggle"
          ></fa-icon>

          <div
            class="profile-div desktop border-radius padding-1"
            (click)="toggleDropdown()"
          >
            <img
              [src]="imageUrl + '/' + authUser.image"
              alt="profile img"
              class="profile-img"
            />
            <div>
              <p class="fullname">{{ authUser?.fullname }}</p>
              <p class="email">{{ authUser?.email }}</p>
            </div>

            <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>

            <div class="dropdown drop-shadow-1" [class.show]="isDropdown">
              <div class="dropdown-overlay" [class.hidden]="!isDropdown"></div>
              <nav class="dropdown-navbar border-radius">
                <ul class="dropdown-navbar-nav">
                  <li class="dropdown-nav-item">
                    <a
                      routerLink="/dashboard/settings"
                      routerLinkActive="active"
                      ariaCurrentWhenActive="page"
                      class="dropdown-nav-link"
                    >
                      <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li class="dropdown-nav-item">
                    <a
                      routerLink="/dashboard/profile"
                      routerLinkActive="active"
                      ariaCurrentWhenActive="page"
                      class="dropdown-nav-link"
                    >
                      <fa-icon [icon]="['fas', 'user']"></fa-icon>
                      <span>Profile</span>
                    </a>
                  </li>
                </ul>

                <div class="create-space" (click)="logOut()">
                  <div class="logout border-radius-5 color-danger margin-top">
                    <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
                    <label>Log out</label>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>

      <nav class="navbar" [class.hidden]="isNavbarHidden">
        <header class="modal-header">
          <h2>ZenoxPool</h2>
          <!-- <ion-icon name="close-outline" (click)="toggleNav()"></ion-icon> -->

          <fa-icon
            icon="xmark"
            (click)="toggleNav()"
            class="closeModal"
          ></fa-icon>
        </header>
        <div class="profile-div">
          <img
            [src]="imageUrl + '/' + authUser.image"
            alt="profile img"
            class="profile-img"
          />
          <div>
            <p class="fullname">{{ authUser?.fullname }}</p>
            <p class="email">{{ authUser?.email }}</p>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/overview"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'gauge']"></fa-icon>
              <span>Overview</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/zone"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['far', 'compass']"></fa-icon>
              <span>ZenoxPool Zone</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/deposit"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['far', 'credit-card']"></fa-icon>
              <span>Deposits</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/swap"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
              <span>Swap</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/transfer"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'right-left']"></fa-icon>
              <span>Transfer</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/transactions"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'clock-rotate-left']"></fa-icon>
              <span>Transactions</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/settings"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'gear']"></fa-icon>
              <span>Settings</span>
            </a>
          </li>
          <li class="nav-item" (click)="toggleNav()">
            <a
              routerLink="/dashboard/profile"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link"
            >
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
              <span>Profile</span>
            </a>
          </li>
        </ul>

        <div class="create-space">
          <button (click)="logOut()" class="btn">
            <div class="logout border-radius-5 color-danger">
              <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
              <label>Log out</label>
            </div>
          </button>
        </div>
      </nav>
    </section>
    <section class="main">
      <router-outlet />

      <p class="text-center margin-top">
        &copy; Copyright ZenoxPool 2024 - {{ date }}. All Rights Reserved
      </p>
    </section>
  </section>
</main>
