<div class="modal" [class.show]="isOpen()">
  <div class="overlay" (click)="toggleModal()"></div>
  <div class="modal-content border-radius">
    <div class="modal-header">
      <h3>Action Dialog</h3>
      <fa-icon
        [icon]="['fas', 'circle-xmark']"
        (click)="toggleModal()"
      ></fa-icon>
    </div>
    <div class="modal-body margin-top text-center">
      <fa-icon
        [icon]="['fas', 'circle-exclamation']"
        class="color-danger"
      ></fa-icon>
      <small class="fw-600 d-block">Error</small>

      <div class="content margin-top">
        <p>Error: There was an error processing this request. Try again!</p>
      </div>

      <div class="actions margin-top grid grid-2 gap-1">
        <button
          (click)="toggleModal()"
          type="button"
          class="btn btn-outline btn-primary btn-pill"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
