<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card">
      <div class="card-header">
        <p class="fw-600">Edit Crypto</p>
      </div>

      <hr />

      <form
        class="margin-top"
        [formGroup]="editCryptoForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="body">
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Name"
              id="name"
              formControlName="name"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="abbreviation"
              class="border-radius-5 bg-transparent w-100"
              placeholder="abbreviation"
              id="abbreviation"
              formControlName="abbreviation"
              readonly
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="network"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Network"
              id="network"
              formControlName="network"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="address"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Address"
              id="address"
              formControlName="address"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="number"
              name="value"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Value"
              id="value"
              formControlName="value"
            />
          </div>

          <div class="flex align-items-center gap-1">
            <div class="form-group margin-top-2">
              <img [src]="imgSrc1" alt="" class="assets-logo" />
            </div>
            <div class="form-group margin-top-2">
              <label for="logo_image">Logo Image</label>
              <input
                type="file"
                id="logo_image"
                name="image"
                (change)="onFileSelected($event, 1)"
                class="border-radius-5 bg-transparent w-100"
              />
            </div>
            <div class="form-group margin-top-2">
              <img [src]="imgSrc2" alt="" class="assets-logo" />
            </div>
            <div class="form-group margin-top-2">
              <label for="qr_code">QR Code</label>
              <input
                type="file"
                id="qr_code"
                name="qr_code"
                (change)="onFileSelected($event, 2)"
                class="border-radius-5 bg-transparent w-100"
              />
            </div>
          </div>

          <button
            [disabled]="editCryptoForm.invalid"
            type="button"
            (click)="toggleConfirmModal()"
            class="btn btn-pill btn-primary margin-top-2 w-100"
          >
            Update Crypto
          </button>
        </div>

        <app-confirmation-dialog [isConfirm]="isConfirm" />
      </form>
    </div>
  </div>
</section>
