<section>
  <div class="container-fluid grid-2-desktop">
    <div class="card">
      <div class="card-header">
        <p class="fw-600">Edit Crypto</p>
      </div>

      <hr />

      <form
        class="margin-top"
        [formGroup]="editCryptoForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="body">
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Name"
              id="name"
              formControlName="name"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="abbreviation"
              class="border-radius-5 bg-transparent w-100"
              placeholder="abbreviation"
              id="abbreviation"
              formControlName="abbreviation"
              readonly
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="network"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Network"
              id="network"
              formControlName="network"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="text"
              name="address"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Address"
              id="address"
              formControlName="address"
            />
          </div>

          <div class="form-group margin-top-2">
            <input
              type="number"
              name="value"
              class="border-radius-5 bg-transparent w-100"
              placeholder="Value"
              id="value"
              formControlName="value"
            />
          </div>

          <div class="form-group margin-top-2">
            <img [src]="imgSrc" alt="" class="assets-logo" />
          </div>

          <div class="form-group margin-top-2">
            <label for="image">Upload Image</label>
            <input
              type="file"
              id="image"
              (change)="onFileSelected($event)"
              class="border-radius-5 bg-transparent w-100"
            />
          </div>

          <button
            [disabled]="editCryptoForm.invalid"
            type="button"
            (click)="toggleConfirmModal()"
            class="btn btn-pill btn-primary margin-top-2 w-100"
          >
            Update Crypto
          </button>
        </div>

        <app-confirmation-dialog [isConfirm]="isConfirm" />
      </form>
    </div>
  </div>
</section>
