// Mobile above: 600px and above
// @media (min-width: 37.5em) {
//   .grid-2 {
//     grid-template-columns: 1fr;
//   }

//   .grid-3 {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// Tablets above: 900px and above
@media (min-width: 56.2em) {
  .container-fluid {
    max-width: 98%;
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Laptops above: 900px and above
@media (min-width: 75em) {
  html {
    font-size: 87.5%;
  }
}
