<!-- <app-header /> -->

<section>
  <div class="container-fluid flex justify-content-space align-items-center">
    <p>Welcome, {{ authUser?.username }}</p>
    <div class="bg-primary-1 padding-1 border-radius">
      <small> {{ date | date : "MMMM d, y h:mm a" }}</small>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid grid-2-desktop gap-1 margin-top">
    <div
      class="main-balance-overview bg-gradient-1 padding border-radius drop-shadow-1"
    >
      <span>Overview</span>
      <h2>$17,835.55</h2>
      <span>Total available balance</span>
      <div class="flex gap-2 justify-content-center margin-top">
        <a routerLink="#" class="btn flex align-items-center">
          <!-- <ion-icon name="arrow-up-outline"></ion-icon> -->

          <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
          <p class="margin-left">Transfer</p>
        </a>
        <a routerLink="#" class="btn flex align-items-center">
          <!-- <ion-icon name="arrow-down-outline"></ion-icon> -->

          <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
          <p class="margin-left">Receive</p>
        </a>
      </div>
    </div>

    <div class="balance-options margin-top margin-top-desktop">
      <div class="card drop-shadow-2">
        <span>Users</span>
        <div class="flex justify-content-space">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
          <div>
            <h3 class="text-right">5</h3>
          </div>
        </div>
      </div>
      <div class="card drop-shadow-2">
        <span>Bank Payments</span>
        <div class="flex justify-content-space">
          <fa-icon [icon]="['fas', 'building-columns']"></fa-icon>
          <div>
            <h3 class="text-right">1</h3>
            <span class="text-right">$14,727.83</span>
          </div>
        </div>
      </div>
      <div class="card drop-shadow-2">
        <span>Crypto Payments</span>
        <div class="flex justify-content-space">
          <fa-icon [icon]="['fas', 'bitcoin-sign']"></fa-icon>
          <div>
            <h3 class="text-right">4</h3>
            <span class="text-right">$53.98</span>
          </div>
        </div>
      </div>
      <div class="card drop-shadow-2">
        <span>Zones</span>
        <div class="flex justify-content-space">
          <fa-icon [icon]="['fas', 'globe']"></fa-icon>
          <div>
            <h3 class="text-right">1</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid grid-2-desktop gap-1 margin-top">
    <div class="card drop-shadow-2">
      <span>Active Zones</span>
      <div class="flex justify-content-space">
        <fa-icon [icon]="['fas', 'globe']"></fa-icon>
        <div>
          <h3 class="text-right">1</h3>
          <span class="text-right">$53.98</span>
        </div>
      </div>
    </div>
  </div>
</section>
