.main-balance-overview {
  color: var(--color-white);

  fa-icon {
    font-size: 1rem;
  }
}

.balance-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

@media (min-width: 75em) {
  .grid-2-desktop {
    display: grid;
    grid-template-columns: 30rem 1fr;
  }
}
