<!-- <app-header /> -->

<section>
  <div class="container-fluid flex justify-content-space align-items-center">
    <p>
      Welcome,
      {{
        authUser?.username.charAt(0).toUpperCase() + authUser?.username.slice(1)
      }}
    </p>
    <div class="bg-primary-1 padding-1 border-radius">
      <small> {{ date | date : "MMMM d, y h:mm a" }}</small>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid grid-2-desktop gap-1 margin-top">
    <div
      class="main-balance-overview bg-gradient-1 padding border-radius drop-shadow-1"
    >
      <span>Overview</span>
      <h2>${{ overviewData?.totalSum }}</h2>
      <span>Total available balance</span>
      <div class="flex gap-2 justify-content-center margin-top">
        <a routerLink="/dashboard/transfer" class="btn flex align-items-center">
          <!-- <ion-icon name="arrow-up-outline"></ion-icon> -->

          <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
          <p class="margin-left">Transfer</p>
        </a>
        <a routerLink="/dashboard/deposit" class="btn flex align-items-center">
          <!-- <ion-icon name="arrow-down-outline"></ion-icon> -->

          <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
          <p class="margin-left">Receive</p>
        </a>
      </div>
    </div>

    <div class="balance-options margin-top margin-top-desktop">
      @for (crypto of overviewData?.crypto; track $index) {
      <div class="card drop-shadow-2">
        <span>{{
          crypto.name.charAt(0).toUpperCase() +
            crypto.name.slice(1) +
            " " +
            (crypto.abbreviation | uppercase)
        }}</span>
        <div class="flex justify-content-space">
          <img
            src="{{ imgUrl + '/' + crypto.image }}"
            alt="btc logo"
            class="balance-logo"
          />
          <div>
            <h3>
              {{ overviewData.user[crypto.abbreviation] }}
              {{ crypto.abbreviation | uppercase }}
            </h3>
            <span class="text-right"
              >${{
                overviewData[
                  "user" + (crypto.abbreviation | uppercase) + "Value"
                ]
              }}</span
            >
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="container-fluid grid-2-desktop gap-1">
    <div class="card assets-display border-radius margin-top">
      <form>
        <input
          type="search"
          name="search"
          class="border-radius-5 w-100"
          id=""
          placeholder="Search Assets ..."
        />
      </form>
      <p class="margin-top fw-600">Available Assets</p>

      <hr />

      <nav class="navbar">
        <ul class="navbar-nav">
          @for (crypto of overviewData?.crypto; track $index) {
          <li class="nav-item flex flex-column">
            <div class="flex w-100">
              <div class="flex align-items-center">
                <img
                  src="{{ imgUrl + '/' + crypto.image }}"
                  alt="btc logo"
                  class="assets-logo"
                />
                <span class="margin-left">{{
                  crypto.name.charAt(0).toUpperCase() +
                    crypto.name.slice(1) +
                    " " +
                    (crypto.abbreviation | uppercase)
                }}</span>
              </div>
              <div class="ms-auto">
                <h3>
                  {{ overviewData.user[crypto.abbreviation] }}
                  {{ crypto.abbreviation | uppercase }}
                </h3>
                <span class="text-right"
                  >${{
                    overviewData[
                      "user" + (crypto.abbreviation | uppercase) + "Value"
                    ]
                  }}</span
                >
              </div>
            </div>
            <span>${{ crypto.value }}</span>
          </li>
          }
        </ul>
      </nav>

      <hr />

      <div class="learn-more-div margin-top">
        <a routerLink="#" class="learn-more">Load More</a>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->

        <fa-icon [icon]="['fas', 'arrow-right']" class="margin-left"></fa-icon>
      </div>
    </div>

    <div class="drop-shadow-2 card margin-top">
      <div class="transaction-div">
        <p class="fw-600">Recent Transactions</p>

        <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
        <div class="table-responsive">
          @if (!isFetching && transactionsData?.length) {
          <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Transaction ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Amount - Cryto</th>
                <th>Amount - USD</th>
                <th>Address</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              @for (transaction of transactionsData; track $index) {
              <tr>
                <td class="text-truncate">{{ $index + 1 }}</td>
                <td class="text-truncate">{{ transaction.transaction_id }}</td>
                <td class="text-truncate">
                  @switch (transaction.type) { @case (0) { Bank Deposit }@case
                  (1) { Crypto Deposit }@case (2) {Transfer} @case (4)
                  {Swap::Swaped}@default {Gas Fee} }
                </td>
                <td class="text-truncate">{{ transaction.name }}</td>
                <td
                  class="text-truncate color-success fw-600"
                  [ngClass]="{
                    'color-danger':
                      transaction.type === 2 || transaction.type === 5
                  }"
                >
                  {{
                    transaction.type === 2 || transaction.type === 5
                      ? "-"
                      : "+"
                  }}${{ transaction.type_amount }}
                </td>
                <td
                  class="text-truncate color-success fw-600"
                  [ngClass]="{
                    'color-danger':
                      transaction.type === 2 || transaction.type === 5
                  }"
                >
                  {{
                    transaction.type === 2 || transaction.type === 5
                      ? "-"
                      : "+"
                  }}${{ transaction.amount }}
                </td>
                <td class="text-truncate">{{ transaction.address }}</td>
                <td>
                  <span
                    class="label"
                    [ngClass]="{
                      'bg-success': transaction.status === 1,
                      'bg-warning': transaction.status === 0
                    }"
                    >{{ transaction.status == 1 ? "Active" : "Inactive" }}</span
                  >
                </td>
                <td class="text-truncate">
                  {{ transaction.created_at | date : "MMMM d, y h:mm a" }}
                </td>
              </tr>
              }
            </tbody>
          </table>
          }@else {
          <p class="text-center">
            {{ isFetching ? "Loading data..." : "No record found!" }}
          </p>
          }
        </div>
      </div>
    </div>
  </div>
</section>
