<section>
  <div class="container-fluid">
    <div
      class="liquidity-bar bg-gradient-1 color-white text-center border-radius padding-1"
    >
      <h3>456,983,232.45</h3>
      <small>Liquidity</small>
    </div>
  </div>

  <div class="container-fluid margin-top">
    <p class="fw-600">Menu</p>
    <div class="flex zone-menu gap-1 margin-top">
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'right-left']"></fa-icon>
        </div>
        <small>Swap</small>
      </div>
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
        </div>
        <small>Transfer</small>
      </div>
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
        </div>
        <small>My Team</small>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="grid grid-3 gap-1">
      <div
        class="col bg-gradient-1 color-white padding-2 border-radius margin-top"
      >
        <h2>ZP Loop</h2>
        <p>
          A circulation yield protocol based on the Ethereum Virtual Machine
          (EVM) enables individuals to provide cryptocurrency liquidity
          risk-free and earn returns.
        </p>
        <button routerLink="loop" class="btn btn-pill btn-outline margin-top">
          Join Now
        </button>
      </div>
      <div
        class="col bg-gradient-1 color-white padding-2 border-radius margin-top"
      >
        <h2>ZP Savings</h2>
        <p>
          A circulation yield protocol based on the Ethereum Virtual Machine
          (EVM) enables individuals to provide cryptocurrency liquidity
          risk-free and earn returns.
        </p>
        <button
          routerLink="loop"
          class="btn btn-pill btn-outline margin-top"
          disabled
        >
          Join Now
        </button>
      </div>
      <div
        class="col bg-gradient-1 color-white padding-2 border-radius margin-top"
      >
        <h2>ZP Games</h2>
        <p>
          A circulation yield protocol based on the Ethereum Virtual Machine
          (EVM) enables individuals to provide cryptocurrency liquidity
          risk-free and earn returns.
        </p>
        <button
          routerLink="loop"
          class="btn btn-pill btn-outline margin-top"
          disabled
        >
          Join Now
        </button>
      </div>
    </div>
  </div>
</section>
