<section>
  <div class="container-fluid">
    <div
      class="liquidity-bar bg-gradient-1 color-white text-center border-radius padding-1"
    >
      <h3>{{ zoneData?.liquidityPool.amount }}</h3>
      <small>Liquidity</small>
    </div>
  </div>

  <div class="container-fluid margin-top">
    <p class="fw-600">Menu</p>
    <div class="flex zone-menu gap-1 margin-top">
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'right-left']"></fa-icon>
        </div>
        <small>Swap</small>
      </div>
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
        </div>
        <small>Transfer</small>
      </div>
      <div class="col">
        <div class="icon border-radius">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
        </div>
        <small>My Team</small>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    @if(!isFetching) {
    <div class="grid grid-3 gap-1">
      @for (zone of zoneData?.zones; track $index) {
      <div
        class="col bg-gradient-1 color-white padding-2 border-radius margin-top"
      >
        <h2>ZP {{ zone.name.charAt(0).toUpperCase() + zone.name.slice(1) }}</h2>
        <p>
          {{ zone.description }}
        </p>
        <button
          [routerLink]="['loop', zone.id]"
          [disabled]="zone.status === 0"
          class="btn btn-pill btn-outline margin-top"
        >
          Join Now
        </button>
      </div>
      }
    </div>
    }@else {
    <p class="text-center fw-600">Loading zones. Please Wait ...</p>
    }
  </div>
</section>
